<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="POS_Reports.Properties.Settings.POS_Rutu_NConnectionString"
      connectionString="Data Source=(local);Initial Catalog=TISPOSDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="POS_RutuEntities" connectionString="metadata=res://*/RutuPOS.csdl|res://*/RutuPOS.ssdl|res://*/RutuPOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TISPOS_14NOV;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="POS.Properties.Settings.Setting" connectionString="Data Source=(local);Initial Catalog=TISPOS_14NOV;Integrated Security=True" />
    <add name="POS_Reports.Properties.Settings.TISPOS_MBRFashionStudioConnectionString"
      connectionString="Data Source=(local);Initial Catalog=TISPOSDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Connection" value="Data Source=(local);Initial Catalog=TISPOS_14NOV;Integrated Security=SSPI;"></add>
    <add key="Database" value="TISPOS_14NOV" />
  </appSettings>
</configuration>