<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="POS_Reports.Properties.Settings.TISPOS_DEPConnectionString"
      connectionString="Data Source=(local);Initial Catalog=TISPOS_DEP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Connection" value="Data Source=(local);Initial Catalog=TISPOS_DEP;Integrated Security=SSPI;"></add>
    <add key="Database" value="TISPOS_DEP" />
  </appSettings>
</configuration>