<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="POS_RutuEntities" connectionString="metadata=res://*/RutuPOS.csdl|res://*/RutuPOS.ssdl|res://*/RutuPOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TISPOSDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="POS_Reports.Properties.Settings.POS_Rutu_NConnectionString" connectionString="Data Source=(local);Initial Catalog=TISPOSDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name ="connectionString" connectionString="Data Source=(local);Initial Catalog=TISPOSDB;Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <add key="DATABASENAME"  value="TISPOSDB"/>
    <add key="Connection" value="Data Source=(local);Initial Catalog=TISPOSDB;Integrated Security=SSPI;" ></add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
<!--     <add key="ClientSettingsProvider.ServiceUri" value="add" /> -->
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
